extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Cras ac sem non ante iaculis ornare. Maecenas id placerat ligula. Praesent a ultricies justo. Phasellus sed vehicula nisl. Phasellus at tortor tellus. Vestibulum metus velit, condimentum a erat eu, fringilla ultrices justo. Morbi efficitur ex egestas imperdiet dignissim.

                p Rhoncus nunc eget ligula viverra consectetur. Aenean est mauris, tincidunt eu suscipit non, volutpat at dui. Vestibulum vel est id felis iaculis tincidunt. Donec ut laoreet lacus. Ut euismod eget augue sed sodales. Integer egestas dolor vel risus sollicitudin finibus. Vestibulum nunc magna, maximus nec orci id, placerat pharetra enim.

                p Elit urna, egestas vel aliquam vel, sollicitudin eu nisl. Curabitur sed sodales ante, a tempus turpis. Vivamus gravida aliquet neque nec aliquet. Sed euismod malesuada velit. Maecenas et consectetur libero, ut imperdiet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel felis placerat, consectetur felis ut, tristique lorem. Nulla lacinia cursus metus, at laoreet magna eleifend id. Maecenas elementum leo sit amet risus suscipit, ac laoreet metus posuere. Fusce ligula lacus, aliquet egestas risus id, feugiat scelerisque ante. Maecenas viverra, ex nec scelerisque rhoncus, libero odio fringilla risus, at ullamcorper arcu enim vel nisi.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed euismod malesuada velit. Maecenas et consectetur libero, ut imperdiet augue.
                .col-md-4
                    img(src="img/icono_destinos.svg" alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Sed euismod malesuada velit. Maecenas et consectetur libero, ut imperdiet augue.
                .col-md-4
                    img(src="img/icono_precios.svg" alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Sed euismod malesuada velit. Maecenas et consectetur libero, ut imperdiet augue.